Hey there! 😊 

I'm **Rupi Singh**, and I've had a pretty diverse journey so far. I'm a developer, writer, angel investor, startup founder and (future) podcaster – a bit of a jack-of-all-trades, you might say.

I'm passionate about supporting new ventures and have had the privilege of advising a few of them. I have invested in over 100 startups and have reviewed a few thousand deals. 

Before all this, I worked for a massive corporation where I set up and managed their very first data science and analytics team. I've also dabbled in market & competitive intelligence, risk management, commercial negotiations, and product management.

Funny enough, I started my career as a journalist. I'm completely self-taught when it comes to development, but I absolutely love it. I've got a soft spot for team management and culture, and I enjoy getting my hands dirty with product design and development.

In terms of formal education, I graduated from the University of Missouri's School of Journalism and later earned an MBA in Supply Chain Management and Finance from Michigan State University's Broad Graduate School of Business.

I was born and raised in Punjab, India, but eventually moved to the United States. I've lived in Germany, England, and the Philippines, and have traveled to over 50 countries. These days, I am living in San Francisco Bay Area.

If you want to hear more of my thoughts on angel investing, decision-making, and startups, feel free to follow me on Twitter at [@rupijs](https://twitter.com/rupijs). I love sharing my insights and connecting with others who share the same passions. 🚀

Nice to meet you! 🤝